<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QYQRcodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47BDC1FC1CDC808A009B34C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47BDC2151CDC808B009B34C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47BDC2201CDC808B009B34C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
